/* View Page */
.add-button {
    padding: 0px 10px;
}

/* Modal */
.input-group {
    padding-bottom: 5px;
}

.button-form {
    padding-top: 10px;
}

/* List  */
.centered-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
}

.text-center {
    display: flex;
    justify-content: center;
    padding-top: 10px;
}
